src/results/
src/results/A_to_B/
src/results/B_poisoned/
src/modelB/
src/*.csv
src/*.h5
src/*.png
src/*.txt
src/*sh.o*
src/*sh.e*
src/dataset/__pycache__/*
src/top_model/__pycache__/*
src/results_diversity
